.cabecera {
    padding: 20px 0;
}

.menu a {
    margin-bottom: 1%;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social img {
    max-width: 100%;
    transition: 0.5s;
}

.galeria {
    margin: 2% 0;
}

.social img:hover {
    transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -webkit-transform: sacle(1.2,1.2);
}

.autor {
    padding: 5%;
}

.autor img {
    width: 30%;
}

.entrada {
    text-align: justify;
}

.entrada img {
    margin: 10px 0;
}